{% extends "layout.twig" %}

{% block content %}
    <h1 class="ui header aligned center" style="padding-top: 70px;">Rest of Web Let's GOOOOOOOOOOOOOO ( HYDRA) ! </h1>
    <img src="http://www.lezebre.lu/images/Tete_de_mort_3.png" alt="" style="display:block;margin: 0 auto;">
{% endblock %}