{% extends "layout.twig" %}

{% block content %}
    <h1>{{ name }}</h1>
    {% for ressource in ressources %}
        <div class="cat">
            <a id="link_list">{{ ressource.name }} #{{ ressource.id }}</a><br>
        </div>
        {% include 'partial/modal_detail.twig' with {'ressource': ressource} %}
    {% endfor %}

    {% include 'partial/modal.twig' %}
{% endblock %}

