{% extends "layout.twig" %}

{% block content %}

{% endblock %}
{% block men_footer %}
    <div class="ui menu">
        <a class="item" href="{{ path_for('ressources') }}">
            Rest of web
        </a>
        <div class="right menu">
            <a class="item">Ajouter</a>
            <a class="item hasard">Voir au hasard</a>
        </div>
    </div>
{% endblock %}
