{% extends "layout.twig" %}

{% block content %}
    <div class="center aligned">
        <h1 class="center aligned">Prevor un texte de presentation</h1>
    </div>
    <div class="tableau">
        {% for categorie in categories %}
        <div class="cat">
            <a href="{{ path_for('category', { 'name': categorie.name|lower, 'id': categorie.id }) }}">{{ categorie.name|e }}</a>
        </div>
    {% endfor %}
    </div>

    {#<div class="ui segment" style="height: inherit;">#}
        {#<div class="ui dimmer dimmer-hasard" id="dimmer-hasard">#}
            {#<div class="ui massive text loader">Chargement, veuillez patientez ...</div>#}
        {#</div>#}
        {#<p></p>#}
        {#<p></p>#}
        {#<p></p>#}
    {#</div>#}

    {% include 'partial/modal.twig' %}
{% endblock %}

